<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580377130505-ecl2529s84m73t0p3ohcfak9d1203hht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580377130505-ecl2529s84m73t0p3ohcfak9d1203hht</string>
	<key>API_KEY</key>
	<string>AIzaSyAwZ6LGxVw_0mCNYjlpa82HS_jtK45SbV8</string>
	<key>GCM_SENDER_ID</key>
	<string>580377130505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSignup</string>
	<key>PROJECT_ID</key>
	<string>first-app-f86e5</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-f86e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580377130505:ios:943a70570dab01f1c8ead8</string>
</dict>
</plist>